In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import csv
number_page = int(input("Enter the number of pages you want to scrape: "))
clean_data = []
main_data = []
# getting the html content of the website
for i in range(1, number_page+1):
    url = "http://nepalstock.com/todaysprice"
    page  = requests.get(url)
    table = BeautifulSoup(page.text, 'lxml')
        # getting the table from the html content
    data = []
    for i in table.find_all('tr'):
        data.append(i.text)
        data_list = []
        for i in data:
            data_list.append(i.split('\n')[1:-1])
        main_data = main_data + data_list[1:-4]

In [26]:
for item in main_data:
    if item not in clean_data:
        clean_data.append(item)
clean_data

[['',
  'S.N.',
  'Traded Companies',
  'No. Of Transaction',
  'Max Price',
  'Min Price',
  'Closing Price',
  'Traded Shares',
  'Amount',
  'Previous Closing',
  'Difference Rs.'],
 ['',
  '1',
  '10% Sunrise Debenture 2080',
  '3',
  '930.00',
  '925.00',
  '930.00',
  '150.00',
  '139055.00',
  '945.00',
  '-15.00\xa0',
  '                                             ',
  ''],
 ['',
  '2',
  '10.25% GLOBAL IME BANK LTD. DEBENTURE 2080/81',
  '12',
  '926.00',
  '920.00',
  '920.00',
  '1810.00',
  '1666038.50',
  '943.00',
  '-23.00\xa0',
  '                                             ',
  ''],
 ['',
  '3',
  '10.25% Sunrise Bank Debenture 2083',
  '2',
  '903.00',
  '902.10',
  '902.10',
  '265.00',
  '239101.50',
  '920.00',
  '-17.90\xa0',
  '                                             ',
  ''],
 ['',
  '4',
  '8.5% BOK Debenture 2086',
  '2',
  '780.00',
  '765.00',
  '765.00',
  '40.00',
  '30975.00',
  '795.00',
  '-30.00\xa0',
  '                                             ',
  ''],
 ['',
  '5',
  'Aarambha Chautari Laghubitta Bittiya Sanstha Limited',
  '38',
  '876.00',
  '855.00',
  '857.00',
  '1075.00',
  '924763.50',
  '860.00',
  '-3.00\xa0',
  '                                             ',
  ''],
 ['',
  '6',
  'Agricultural Development Bank Limited',
  '153',
  '332.00',
  '329.00',
  '330.00',
  '9519.00',
  '3144836.70',
  '332.20',
  '-2.20\xa0',
  '                                             ',
  ''],
 ['',
  '7',
  'Ankhu Khola Jalvidhyut Company Ltd',
  '157',
  '206.00',
  '200.00',
  '202.00',
  '24776.00',
  '5037390.80',
  '200.30',
  '1.70\xa0',
  '                                            ',
  ''],
 ['',
  '8',
  'Api Power Company Ltd.',
  '857',
  '255.00',
  '249.40',
  '250.00',
  '155363.00',
  '39162554.80',
  '253.00',
  '-3.00\xa0',
  '                                             ',
  ''],
 ['',
  '9',
  'Arun Kabeli Power Ltd.',
  '376',
  '474.00',
  '461.00',
  '466.00',
  '90609.00',
  '42361113.00',
  '468.00',
  '-2.00\xa0',
  '                                             ',
  ''],
 ['',
  '10',
  'Arun Valley Hydropower Development Co. Ltd.',
  '295',
  '366.10',
  '354.00',
  '357.00',
  '74201.00',
  '26793012.80',
  '357.50',
  '-0.50\xa0',
  '                                             ',
  ''],
 ['',
  '11',
  'Asha Laghubitta Bittiya Sanstha Ltd',
  '32',
  '1299.00',
  '1260.10',
  '1270.00',
  '1044.00',
  '1339785.20',
  '1280.00',
  '-10.00\xa0',
  '                                             ',
  ''],
 ['',
  '12',
  'Asian Life Insurance Co. Limited',
  '189',
  '607.00',
  '585.00',
  '589.00',
  '29381.00',
  '17346723.80',
  '595.90',
  '-6.90\xa0',
  '                                             ',
  ''],
 ['',
  '13',
  'Balephi Hydropower Limited',
  '216',
  '253.70',
  '236.60',
  '246.00',
  '10071.00',
  '2478576.10',
  '244.00',
  '2.00\xa0',
  '                                            ',
  ''],
 ['',
  '14',
  'Barun Hydropower Co. Ltd.',
  '238',
  '301.50',
  '290.10',
  '294.00',
  '27896.00',
  '8232943.80',
  '299.00',
  '-5.00\xa0',
  '                                             ',
  ''],
 ['',
  '15',
  'Best Finance Company Ltd.',
  '164',
  '404.90',
  '384.00',
  '387.10',
  '21418.00',
  '8421493.20',
  '385.00',
  '2.10\xa0',
  '                                            ',
  ''],
 ['',
  '16',
  'Bishal Bazar Company Limited',
  '8',
  '3760.00',
  '3712.00',
  '3740.00',
  '195.00',
  '729265.00',
  '3750.00',
  '-10.00\xa0',
  '                                             ',
  ''],
 ['',
  '17',
  'Bottlers Nepal (Terai) Limited',
  '27',
  '13550.00',
  '13034.00',
  '13034.00',
  '610.00',
  '8105911.00',
  '13370.00',
  '-336.00\xa0',
  '                                             ',
  ''],
 ['',
  '18',
  'Buddha Bhumi Nepal Hydropower Company Limited',
  '49',
  '381.90',
  '364.10',
  '378.00',
  '3018.00',
  '1115003.50',
  '370.00',
  '8.00\xa0',
  '                                            ',
  ''],
 ['',
  '19',
  'Butwal Power Company Limited',
  '85',
  '331.40',
  '318.00',
  '329.00',
  '5697.00',
  '1855943.60',
  '327.10',
  '1.90\xa0',
  '                                            ',
  ''],
 ['',
  '20',
  'CEDB Hydropower Development Company Limited',
  '226',
  '800.00',
  '765.30',
  '795.00',
  '23952.00',
  '18936014.80',
  '776.00',
  '19.00\xa0',
  '                                            ',
  '']]

In [27]:
file = open('nepal_stock.csv', 'w')
x = csv.writer(file)
for i in clean_data:
    x.writerow(i)
file.close()

In [28]:
df = pd.read_csv('nepal_stock.csv',encoding=('ISO 8859-1'))
df

                                               Unnamed: 0  S.N.  \
NaN 1                          10% Sunrise Debenture 2080     3
    2       10.25% GLOBAL IME BANK LTD. DEBENTURE 2080/81    12
    3                  10.25% Sunrise Bank Debenture 2083     2
    4                             8.5% BOK Debenture 2086     2
    5   Aarambha Chautari Laghubitta Bittiya Sanstha L...    38
    6               Agricultural Development Bank Limited   153
    7                  Ankhu Khola Jalvidhyut Company Ltd   157
    8                              Api Power Company Ltd.   857
    9                              Arun Kabeli Power Ltd.   376
    10        Arun Valley Hydropower Development Co. Ltd.   295
    11                Asha Laghubitta Bittiya Sanstha Ltd    32
    12                   Asian Life Insurance Co. Limited   189
    13                         Balephi Hydropower Limited   216
    14                          Barun Hydropower Co. Ltd.   238
    15                          Best Finance Company Ltd.   164
    16                       Bishal Bazar Company Limited     8
    17                     Bottlers Nepal (Terai) Limited    27
    18      Buddha Bhumi Nepal Hydropower Company Limited    49
    19                       Butwal Power Company Limited    85
    20        CEDB Hydropower Development Company Limited   226

        Traded Companies  No. Of Transaction  Max Price  Min Price  \
NaN 1              930.0               925.0      930.0      150.0
    2              926.0               920.0      920.0     1810.0
    3              903.0               902.1      902.1      265.0
    4              780.0               765.0      765.0       40.0
    5              876.0               855.0      857.0     1075.0
    6              332.0               329.0      330.0     9519.0
    7              206.0               200.0      202.0    24776.0
    8              255.0               249.4      250.0   155363.0
    9              474.0               461.0      466.0    90609.0
    10             366.1               354.0      357.0    74201.0
    11            1299.0              1260.1     1270.0     1044.0
    12             607.0               585.0      589.0    29381.0
    13             253.7               236.6      246.0    10071.0
    14             301.5               290.1      294.0    27896.0
    15             404.9               384.0      387.1    21418.0
    16            3760.0              3712.0     3740.0      195.0
    17           13550.0             13034.0    13034.0      610.0
    18             381.9               364.1      378.0     3018.0
    19             331.4               318.0      329.0     5697.0
    20             800.0               765.3      795.0    23952.0

        Closing Price  Traded Shares    Amount  \
NaN 1        139055.0          945.0   -15.00
    2       1666038.5          943.0   -23.00
    3        239101.5          920.0   -17.90
    4         30975.0          795.0   -30.00
    5        924763.5          860.0    -3.00
    6       3144836.7          332.2    -2.20
    7       5037390.8          200.3     1.70
    8      39162554.8          253.0    -3.00
    9      42361113.0          468.0    -2.00
    10     26793012.8          357.5    -0.50
    11      1339785.2         1280.0   -10.00
    12     17346723.8          595.9    -6.90
    13      2478576.1          244.0     2.00
    14      8232943.8          299.0    -5.00
    15      8421493.2          385.0     2.10
    16       729265.0         3750.0   -10.00
    17      8105911.0        13370.0  -336.00
    18      1115003.5          370.0     8.00
    19      1855943.6          327.1     1.90
    20     18936014.8          776.0    19.00

                                     Previous Closing  Difference Rs.
NaN 1                                                             NaN
    2                                                             NaN
    3                                                             NaN
    4                                                             NaN
    5                                                             NaN
    6                                                             NaN
    7                                                             NaN
    8                                                             NaN
    9                                                             NaN
    10                                                            NaN
    11                                                            NaN
    12                                                            NaN
    13                                                            NaN
    14                                                            NaN
    15                                                            NaN
    16                                                            NaN
    17                                                            NaN
    18                                                            NaN
    19                                                            NaN
    20                                                            NaN